<ion-view class="feed-view" view-title="Feed">
  <ion-content class="padding">
     <div class="list card">
      <div class="item item-divider">已添加控件</div>
      <div class="item item-body">
        <div class="list card" ng-repeat="widget in widgets">
          <div class="item item-icon-left item-button-right">
            <i class="icon" ng-class="widget.class"></i>
            {{ widget.title }}
            <button class="button button-small button-positive" ui-sref="tab.widget-config({id: widget.id})" style="right: 80px;">
              配置
            </button>

            <button class="button button-small button-assertive" ng-click="removeWidget(widget.id)">
              移除
            </button>

          </div>
        </div>
      </div>
    </div>

    <a class="button button-block button-balanced" ui-sref="tab.layout">
      更改布局
    </a>

    <div class="list card">
      <div class="item item-divider">可添加控件</div>
      <div class="item item-body">
        <div class="list card">

          <a class="item item-icon-left" ng-click="addWidget(widget.id)" ng-repeat="widget in avaliableWidgets">
            <i class="icon" ng-class="widget.class"></i>
            {{ widget.title }}
          </a>

        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
