.app-view
{
	background-color: $feed-content-bg;

	.scroll-refresher
	{
		*
		{
			color: $feed-bar-color;
		}

		.spinner
		{
			stroke: $feed-bar-color;
		}
	}

	ion-infinite-scroll
	{
		*
		{
			color: $feed-bar-color;
		}

		.spinner
		{
			stroke: $feed-bar-color;
		}
	}
}
